    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#000000" />
    <!-- 强制页面在当前窗口以独立页面显示,防止别人在框架里调用页面 -->
    <meta http-equiv="window-target" content="_top" />
    <!-- baidu & google verification  -->
    {{ with .Site.Params.baiduVerification }}
    <meta name="baidu-site-verification" content="{{.}}" />{{ end }}
    {{ with .Site.Params.googleVerification }}
    <meta name="google-site-verification" content="{{.}}" />{{ end }}
    {{- if .Keywords -}}
    {{ $length := len .Keywords | add -1 -}}
    <meta name="keywords"
      content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}" />
    {{- else if .Site.Params.keywords -}}
    {{ $length := len .Site.Params.keywords | add -1 -}}
    <meta name="keywords"
      content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}" />
    {{- end }}

    {{- if .Description -}}
    <meta name="description" content="{{ .Description | safeHTML }}" />
    {{- else if .IsPage -}}
    <meta name="description" content="{{ .Summary | plainify }}" />
    {{- else if .Site.Params.description -}}
    <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
    {{- end -}}


    <!-- Site Generator -->
    <meta name="generator" content="Hugo {{ .Site.Hugo.Version }} with theme pure" />
    <title>
      {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>
    <!-- Canonical links -->
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ $css := resources.Get "css/style.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{ with .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ . | absURL }}" async>{{ end }}
    <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/9.15.10/styles/{{ .Site.Params.highlightjs.theme }}.min.css" async>
    {{- if eq .Site.Params.comment.type "gitalk"}} 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css" async>    
    {{- end }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css" async>
    {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/google_news.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

    <!-- Polyfill for old browsers -->
    {{ `<!--[if lte IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.1.20170427/classList.min.js"></script>
      <![endif]-->` | safeHTML }}

    {{ `<!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
      <![endif]-->` | safeHTML }}